<!DOCTYPE html>
	<html>
<head>
	<Title>JavaScript Playground</title>

<link rel="stylesheet" type="text/css" href="../css/main.css">
	</head>
	

<div class="nav">
   <ul>
     <li><a href="views/Html-playground.html">HTML</a></li>
     <li><a href="views/BootStrap-playground.html">BootStrap</a></li>
     <li><a href="views/JavaScript-playground.html">JavaScript</a></li>
     <li><a href="views/Jquery-playground.html">Jquery</a></li>
     <li><a href="views/Git-playground.html">Git</a></li>
     <li><a href="views/Resources-playground.html">Resources</a></li>
     <li><a href="views/ColorfulShapes-playground.html">ColorfulShapes</a></li>
</ul>
</div>


		<script scr"../js/script.js"></script>


	</body>
</html>