<!DOCTYPE html>
	<html>
<head>
	<Title>Resources</title>

		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
​
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	</head>
<body>

<div class="nav">
   <ul>
     <li><a href="views/Html-playground.html">HTML</a></li>
     <li><a href="views/BootStrap-playground.html">BootStrap</a></li>
     <li><a href="views/JavaScript-playground.html">JavaScript</a></li>
     <li><a href="views/Jquery-playground.html">Jquery</a></li>
     <li><a href="views/Git-playground.html">Git</a></li>
     <li><a href="views/Resources-playground.html">Resources</a></li>
     <li><a href="views/ColorfulShapes-playground.html">ColorfulShapes</a></li>
</ul>
</div>

<div>
   <h2>Inspiration & Motivation<h2>
     <p>Here is a little image to keep in mind when things get tough in coding.</P>
    <img src="../img/"/>

</div>


	<h2>Resources</h2>
	<h3>Here are some good resources</h3>


   <table border="1">
     <tr>
      <td>Language</td>
      <td>sitename</td>
	  <td>link</td>
      <td>description</td>
 	</tr>
	<tr>
        <td>Html, CSS, Javascript, KQuery</td>
        <td>w3schools</td>
        <td><a href="https://www.w3schools.com">w3schools</a></td>
        <td>This site has practice examples for the basic web development that could help you do well.</td>
    </tr>
    <tr>
        <td>Html, CSS, Javascript, KQuery, git, command line, python</td>
        <td>w3schools</td>
        <td><a href="https://www.codecademy.com">codecademny</a></td>
        <td>This site will help you practice your skills.It's probably one of the most poular free learning sites on the web, and they're always updtaing and keeping up with things. Also has a paid options.</td>
        </tr>
    <tr>
        <td>Html, CSS, Javascript, KQuery, git, command line, python</td>
        <td>w3schools</td>
        <td><a href="https://www.FreeCodeCamp.com">FreeCodeCamp</a></td>
        <td>This site will help you practice woth your skills.It is good a resource for portfolio building and for getting codeing help</td>
        </tr>
	</table>

  </div>




</div>
</div>












































</body>
	</html>